---
layout: default
title: Strong Towns Nanaimo Articles
permalink: /articles
description: "Want to learn more about urbanism in Nanaimo? Choose an article below and start your Strong Towns journey! Articles range from walkable neighbourhoods to transit and active transportation."
---

<!-- Begin Articles -->
<section class="articles">
    <div class="container">
        <div class="page-head">
            <h1 class="page__title">{{ page.title | escape }}</h1> 
            <p class="page__description">{{ page.description | escape }}</p>
        </div>
        <div class="row grid">
            {% if site.posts.size > 0 %}
            {% for post in site.posts %}
            {% if post.type contains 'post' %}
            {% include article.html %}
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>  
<!-- End Articles -->
<hr>
