---
layout: default
title: Meet The Strong Towns Nanaimo Executive Team
permalink: /members
description: "Strong Towns Nanaimo is made up of professionals and passionate citizens alike. We're a diverse group of activists who believe that Nanaimo should be built for people, not cars."
---

<!-- Begin Authors -->
<section class="authors">
  <div class="container">
      <div class="page-head">
          <h1 class="page__title">{{ page.title | escape }}</h1> 
          <p class="page__description">{{ page.description | escape }}</p>
      </div>
      <div class="authors__inner animate">
        <div class="container">
          <!-- Current Board Members -->
          <div class="row">
            {% for author in site.authors  %}
            {% unless author.former or author.community_member %}
            {% assign post_count = site.posts | where:"author", author.username %}
            <div class="col col-4 col-d-6 col-t-12">
              <div class="authors__info">
                <p class="authors__image"><a class="authors__link" href="{{ author.permalink }}"><img class="lazy" data-src="{{ author.image }}" alt="{{ author.name }}"></a></p>
                <h2 class="authors__name"><a class="authors__link" href="{{ author.permalink }}">{{ author.name }}</a></h2>
                <p class="authors__email">{{ author.position }}<br><i>{{ author.email }}</i></p>
                <p class="authors__description">{{ author.content }}</p>
                <button class="authors__button"><a href="{{ author.permalink }}">Learn More</a></button>
              </div>
            </div>
            {% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</section>

<!-- Begin Community Members -->
<section class="authors authors--community">
  <div class="container">
      <div class="page-head">
          <h2 class="page__title">Community Members</h2> 
          <p class="page__description">These dedicated community members contribute their time and expertise to help make Nanaimo a better place for everyone.</p>
      </div>
      <div class="authors__inner animate">
        <div class="container">
          <div class="row">
            {% for author in site.authors  %}
            {% if author.community_member and author.former != true %}
            {% assign post_count = site.posts | where:"author", author.username %}
            <div class="col col-4 col-d-6 col-t-12">
              <div class="authors__info">
                <p class="authors__image"><a class="authors__link" href="{{ author.permalink }}"><img class="lazy" data-src="{{ author.image }}" alt="{{ author.name }}"></a></p>
                <h2 class="authors__name"><a class="authors__link" href="{{ author.permalink }}">{{ author.name }}</a></h2>
                <p class="authors__email">{{ author.position }}<br><i>{{ author.email }}</i></p>
                <p class="authors__description">{{ author.content }}</p>
                <button class="authors__button"><a href="{{ author.permalink }}">Learn More</a></button>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</section>

<!-- Begin Former Members -->
<section class="authors authors--former">
  <div class="container">
      <div class="page-head">
          <h2 class="page__title">Former Members</h2> 
          <p class="page__description">These wonderful people have moved onto other projects. While we will miss them dearly, we will never forget the impact they made on their community.</p>
      </div>
      <div class="authors__inner animate">
        <div class="container">
          <div class="row">
            {% for author in site.authors  %}
            {% if author.former %}
            {% assign post_count = site.posts | where:"author", author.username %}
            <div class="col col-4 col-d-6 col-t-12">
              <div class="authors__info authors__info--former">
                <p class="authors__image"><a class="authors__link" href="{{ author.permalink }}"><img class="lazy" data-src="{{ author.image }}" alt="{{ author.name }}"></a></p>
                <h2 class="authors__name"><a class="authors__link" href="{{ author.permalink }}">{{ author.name }}</a></h2>
                <p class="authors__email">{{ author.position }}<br><i>{{ author.email }}</i></p>
                <p class="authors__description">{{ author.content }}</p>
                <button class="authors__button"><a href="{{ author.permalink }}">Learn More</a></button>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <hr>
        </div>
      </div>
  </div>
</section>  
<!-- End Authors -->
