<!-- begin banner -->
<section class="banner">
    <div class="container">
        <div class="row">
        <div class="col col-12">
            <div class="banner__inner" onclick="location.href='/get-involved-housing';">
                <div class="banner_content">
                    <h2 class="banner__title">Get involved, Nanaimo! The City is asking residents about Missing Middle Housing.<br>Nanaimo plans to amend its zoning bylaws to allow for more housing types.</h1>
                    <h3 class="banner__info">Fill out the survey and have your say! Survey ends on September 29th, 2023.</h2>
                </div>
                <div class="banner_bg lazy loaded" data-bg=""></div>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- end banner -->