<!-- begin banner -->
<section class="banner">
    <div class="container">
        <div class="row">
        <div class="col col-12">
            <div class="banner__inner" onclick="location.href='/events/2023-08-04';">
                <div class="banner_content">
                    <h2 class="banner__title">Strong Towns Nanaimo Presents:<br>“Addressing Suburban Sprawl in Nanaimo"<br>with Norm Van Eeden Petersman.</h1>
                    <h3 class="banner__info">Friday August 4th at 6:30pm, Maffeo Sutton Park</h2>
                </div>
                <div class="banner_bg lazy loaded" data-bg=""></div>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- end banner -->