<div class="container">
  <div class="section__info">
    <div class="section__head">
      <h2 class="section__title">{{ site.data.settings.calendar.calendar__title }}</h2>
      {% if site.data.settings.calendar.calendar__description %}
      <p class="section__description">{{ site.data.settings.calendar.calendar__description }}</p>
      {% endif %}
    </div>
  </div>

  <iframe src="https://calendar.google.com/calendar/embed?src=b5b1d31e7842bca6b20caa6863da43ffc4fb290ff7b8d7d6505280c558aba773%40group.calendar.google.com&ctz=America%2FVancouver" class="animate styled-calendar-container" data-cy="calendar-embed-iframe" frameborder="0" scrolling="no"></iframe>
</div>