<div class="article col col-4 col-d-6 col-t-12 animate grid__post">
    <div class="article__inner">
  
      <div class="article__head">
        {% if page.video_embed %}
        <div class="video-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <polygon points="40,30 65,50 40,70"></polygon>
          </svg>
        </div>
        {% endif %}
      </div>
  
      <div class="article__content">
        <div class="article-tags__box">
            <p class="article__tag">{{ page.event_datetime }}</p>
            <p class="article__tag">{{ page.event_location }}</p>
        </div>
        <h2 class="article__title">
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h2>
      </div>
  
    </div>
  </div>
  