{% if site.data.settings.mailchimp.enable == true %}
<div class="container">
  
  <!-- Parking Reform Banner -->
  <a href="/parking">
    <div style="height:100%;z-index: 10;border-radius: 60px !important;" id="parking-victoria-button">
      <div class="parking_banner_bg lazy loaded" data-bg="" data-ll-status="entered">
        <div id="parking_banner_text">
          Click Here To Put People Over Parking
        </div>
      </div>
    </div>
  </a>
  
  <div class="row">
    <div class="col col-12">
      <div class="subscribe" style="margin-bottom:30px;box-shadow: none;background:none;padding:0px;">
        <div class="subscribe__inner">
          <form class="subscribe-form-hero validate" id="sib-form" method="POST" action="https://beautifulnanaimo.us21.list-manage.com/subscribe/post?u=451d40dddbc4719f566d4ea04&amp;id=872672c0a6&amp;f_id=00cfefe6f0">
            <div style="padding: 8px 0;">
              <div class="sib-input sib-form-block">
                <div class="form__entry entry_block">
                  <div class="form__label-row ">
                    <div class="entry__field">
                      <input class="input subscribe-email required email " type="email" id="EMAIL" name="EMAIL"
                        autocomplete="off" placeholder="Your Email Address" data-required="true" style="box-shadow:none;border: 1px solid var(--border-alt-color);" required />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="sib-form-block" style="text-align: left">
                <button class="button button--primary subscribe-button" id="membedded-subscribe" form="sib-form"
                  type="submit" name="subscribe">Sign Up for Updates</button>
              </div>
            </div>
          </form>

        </div>
        <!-- <div class="subscribe__bg lazy" data-bg="{{ site.baseurl }}/images/nanaimo-photos/nanaimo-harbour-2.jpg"></div> -->
      </div>
    </div>
  </div>
</div>
{% endif %}