{% if site.data.settings.mailchimp.enable == true %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="subscribe" style="margin-bottom: 30px !important;box-shadow: 0 5px 10px rgba(0,0,0,.8) !important;">
        <div class="subscribe__inner">
          <form class="subscribe-form-hero validate" id="sib-form" method="POST" action="https://beautifulnanaimo.us21.list-manage.com/subscribe/post?u=451d40dddbc4719f566d4ea04&amp;id=872672c0a6&amp;f_id=00cfefe6f0">
            <div style="padding: 8px 0;">
              <div class="sib-input sib-form-block">
                <div class="form__entry entry_block">
                  <div class="form__label-row ">
                    <div class="entry__field">
                      <input class="input subscribe-email required email " type="email" id="EMAIL" name="EMAIL"
                        autocomplete="off" placeholder="Your Email Address" data-required="true" style="border-radius: 20px !important;" required />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="sib-form-block" style="text-align: left">
                <button class="button button--primary subscribe-button" id="membedded-subscribe" form="sib-form"
                  type="submit" name="subscribe" style="border-radius: 20px !important;">Sign Up for Updates</button>
              </div>
            </div>
          </form>

        </div>
        <!-- <div class="subscribe__bg lazy" data-bg="{{ site.baseurl }}/images/nanaimo-photos/nanaimo-harbour-2.jpg"></div> -->
      </div>
    </div>
  </div>
</div>
{% endif %}