<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="hero__inner">
        <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
      </div>
    </div>
    <!-- <div class="hero__tenets">
      <div class="hero__tenet">
        <h2>Oppose Auto-Oriented Development Patterns Wholeheartedly</h2>
        <p>Nanaimo should not approve development projects that do not seriously incorporate accessible modes of transportation other than private cars.</p>
      </div>
      <div class="hero__tenet">
        <h2>Advocate for Safe and Complete Streets for All</h2>
        <p>Nanaimo is rife with expensive, wide, and unsafe streets that endanger drivers, pedestrians, and cyclists.</p>
      </div>
      <div class="hero__tenet">
        <h2>Increase Public Transit Investment Everywhere</h2>
        <p>Nanaimo should increase investment into accessible, reliably consistent public transit. Public transportation should be treated as seriously as other essential infrastructure.</p>
      </div>
      <div class="hero__tenet">
        <h2>Promote Community Housing and Land for Community Benefit</h2>
        <p>Nanaimo should partner with peer organizations and Community Land Trusts to increase community-owned buildings and parcels.</p>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
        </div>
      </div>
    </div> -->
  </div>
  {% include featured-section.html %}
</section>
<!-- end hero -->