<div class="container">
    <div class="section__info">
      <div class="section__head">
        <h2 class="section__title">Partner Organizations</h2>
        <p class="section__description">We're thrilled to be working with other dedicated organizations.</p>
      </div>
    </div>

    <div class="partners_images animate">
      <a href="https://betterislandtransit.ca/"><img class="lazy" width="300px" height="200px" data-src="/images/partners/better-island-transit.png" alt="Better Island Transit" /></a>  
      <a href="https://www.morehomescanada.ca/"><img class="lazy" width="300px" height="200px" data-src="/images/partners/more-homes-canada.png" alt="More Homes Canada" /></a>
      <a href="https://www.facebook.com/groups/strongtownscr/"><img class="lazy" width="300px" height="200px" data-src="/images/partners/strong-towns-campbell-river.png" alt="Strong Towns Campbell River" /></a>
      <a href="https://patchworkecosystem.com/"><img class="lazy" width="300px" height="200px" data-src="/images/partners/patchwork-ecosystem-consulting.png" alt="Patchwork Ecosystem Consulting" /></a>
      <a href="https://www.nanaimoclimateaction.org/"><img class="lazy" width="300px" height="200px" data-src="/images/partners/nanaimo-climate-action-hub.png" alt="Nanaimo Climate Action Hub" /></a>
      <a href="https://www.strongtownslangley.org/"><img class="lazy" width="300px" height="200px" data-src="/images/partners/strong-towns-langley.png" alt="Strong Towns Langley" /></a>
      <a href="https://transitionnanaimo.ca/"><img class="lazy" width="300px" height="200px" data-src="/images/partners/transition-nanaimo.png" alt="Transition Nanaimo" /></a>
      <a href="https://strongtownsvan.org/"><img class="lazy" width="300px" height="200px" data-src="/images/partners/strong-towns-vancouver.png" alt="Strong Towns Vancouver" /></a>
    </div>
</div>