/* Featured Section */
.featured-section {
  margin-bottom: 176px;

  @media (max-width: $mobile) {
    margin-bottom: 140px;
  }
}

.featured__slider {
  min-height: 360px;

  .container {
    position: relative;
  }
}

.featured__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  margin-bottom: 20px;
  border-top: 1px solid var(--border-alt-color);
}

.featured__title {
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 21px;
  line-height: 32px;
  font-weight: normal;
  color: var(--text-alt-color);

  @media (max-width: $tablet) {
    font-size: 20px;
  }
}

.slider-controls {
  display: flex;
  align-items: center;

  .prev,
  .next {
    width: 20px;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    outline: none;
    cursor: pointer;
  }

  .prev {
    margin-right: 8px;
  }
}

.posts-slider {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -162px;

  .article {
    user-select: none;
    cursor: grab;

    @media (max-width: $mobile) {
      margin-bottom: 60px;
    }

    .article__image {
      background-color: var(--dark);
    }
  }
}

.tns-ovh {
  overflow: visible;
}

.tns-horizontal.tns-subpixel {
  white-space: normal;
}

[aria-disabled="true"] {
  opacity: 0.3;
}

.partners_images {
  display: grid;
  grid-row-gap: 10px;
  transition: all .5s;
  grid-column-gap: 10px;
  will-change: transform;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.partners_images img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  will-change: transform;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  transition: transform .5s, opacity .5s;
  border: 1px solid var(--border-second-color) !important;

  &:hover {
    transform: translateY(-6px);
    transition: transform .5s, opacity .5s;
    .article__image {
      img {
        transform: translate3d(0px, 0px, 0px) scale3d(1.04, 1.04, 1);
      }
    }
  }
}