/* Subscribe */
.subscribe {
  position: relative;
  transform: translate(0);
  padding: 40px;
  margin-bottom: 80px;
  border-radius: 30px;
  overflow: hidden;
  background: var(--image-gradient-color);
  box-shadow: 0 20px 50px rgba(0, 0, 0, .8);

  .subscribe__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subscribe__content {
    padding-right: 32px;

    .subscribe__title {
      margin-bottom: 0;
      font-size: 52px;
      font-weight: 700;
      color: var(--white);
    }

    .subscribe__description {
      max-width: 440px;
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 21px;
      line-height: 1.5;
      font-weight: 500;
      color: var(--white);
    }
  }

  .subscribe-form {
    position: relative;
    width: 100%;
    max-width: 470px;
    border-radius: 60px;
  }

  .subscribe-form-hero {
    position: relative;
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
  }

  .subscribe-email {
    width: 100%;
    height: 74px;
    padding: 24px;
    font-size: 16px;
    line-height: 21px;
    border: none;
    outline: 0;
    border-radius: 60px;
    color: var(--heading-font-color);
    background-color: var(--background-color);
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);

    &::placeholder {
      color: var(--text-alt-color);
    }

    &:focus {
      box-shadow: 0 0 0 1.5px var(--white), inset 0 0 0 2px var(--primary-color);
    }
  }

  .subscribe-button {
    position: absolute;
    top: 13.5px;
    right: 6px;
    background: linear-gradient(180deg, rgba(40, 70, 110, 0.95) 0%, rgba(30, 55, 90, 0.95) 100%) !important;
    background-color: #28466e !important;
    color: white !important;
    
    &:hover {
      background: linear-gradient(180deg, rgba(35, 65, 105, 0.95) 0%, rgba(25, 50, 85, 0.95) 100%) !important;
      background-color: #234169 !important;
    }
  }

  .subscribe__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      ;
      background: var(--image-gradient-color);
    }
  }

  @media (max-width: $wide) {

    .subscribe__content {
      .subscribe__title {
        font-size: 46px;
        line-height: 1.1;
      }

      .subscribe__description {
        max-width: 380px;
        margin-top: 16px;
      }
    }

    .subscribe-form {
      max-width: 420px;
    }
  }

  @media (max-width: $desktop) {

    .subscribe__inner {
      flex-direction: column;
      align-items: flex-start;
    }

    .subscribe__content {
      padding-right: 0;
      margin-bottom: 40px;

      .subscribe__description {
        max-width: 100%;
      }
    }

    .subscribe-form, .subscribe-form-hero {
      max-width: 100%;
    }
  }

  @media (max-width: $tablet) {
    padding: 60px;
  }

  @media (max-width: $mobile) {
    padding: 32px;
    margin-top: 20px;
    margin-bottom: 10px;

    .subscribe__content {
      margin-bottom: 24px;

      .subscribe__title {
        font-size: 32px;
      }

      .subscribe__description {
        font-size: 18px;
      }
    }

    .subscribe-form, .subscribe-form-hero {
      display: flex;
      flex-direction: column;
    }

    .subscribe-email {
      height: 62px;
      margin-bottom: 8px;
    }

    .subscribe-button {
      position: relative;
      top: 0;
      right: 0;
    }

    #membedded-subscribe {
      // Have button span the entire
      // width of the contact form
      width: 100%;
    }
  }
}